.form {
    position:absolute;
  top:20%;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}

    .about {
        text-decoration: none;
        color: #ffffff;
        padding: 20px;
        font: 20px/40px Roboto, sans-serif;
        position: relative;
        transition: all .2s ease;
        left:50%;
        transform: translate(-30%, 0);
    }

        .about:after {
            content: '';
            position: absolute;
            border: 10px solid darkorange;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            left: calc(50% - 5px);
            transition: all .2s ease;
            bottom: -5px;
            opacity: 0;
        }

        .about:hover {
            color: #57dfeb;
            text-shadow: 0 0 1px darkorange;
        }

        body {
  margin: 0;
  padding: 0;
}

.gradient {
    /* position: sticky; */
    height: 100vh;
    width: 100%;
    background: linear-gradient(149deg, rgba(24,187,156,1) 0%, rgba(106,57,175,1) 42%, rgba(187,24,148,1) 72%, rgba(115,53,134,1) 100%);
    animation: gradient 10s infinite linear;
    background-size: 400%;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
  

    .form-control {
        background: transparent;
        border-color: rgb(0, 0, 0);
    
        
    }
    .about {
        cursor: pointer;
    }
    
    .table {
        position: absolute;
        top: 12%;
        margin: auto;
    }

    .logout {
        position: absolute;
        top: 20%;
        margin: auto;
    }

    .pop{
        box-sizing: border-box;
        position: absolute;
        width: 370px;
        height: 50px;
        left: 367px;
        top: 35px;
        transition: 0.3s;
    }

    .popp {
        position: absolute;
        width: 30px; 
        left: 7%;
        top: 10%;
     }

    .popf {
        background: #FFFFFF;
        border: 3px solid #C4C4C4;
        border-radius: 15px;
        text-align: center;
        font-size: 25px;
        font: Judson;
        font-weight: 700;
        cursor: pointer;
    }

    .pop:hover {  
        transform: scale(1.1);
        transition: 0.3s;
    }


    .all{
        box-sizing: border-box;
        position: absolute;
        width: 340px;
        height: 50px;
        left: 367px;
        top: 35px;
        transition: 0.3s;
        left: 45%;
    }

    .allp {
        position: absolute;
        width: 30px; 
        left: 7%;
        top: 10%;
     }

    .allf {
        background: #FFFFFF;
        border: 3px solid #C4C4C4;
        border-radius: 15px;
        text-align: center;
        font-size: 25px;
        font: Judson;
        font-weight: 700;
        cursor: pointer;
    }

    .all:hover {  
        transform: scale(1.1);
        transition: 0.3s;
    }

    .fav{
        box-sizing: border-box;
        position: absolute;
        width: 370px;
        height: 50px;
        left: 367px;
        top: 35px;
        transition: 0.3s;
        left: 70%;

    }

    .favp {
        position: absolute;
        width: 30px; 
        left: 7%;
        top: 10%;
     }

    .favf {
        background: #FFFFFF;
        border: 3px solid #C4C4C4;
        border-radius: 15px;
        text-align: center;
        font-size: 25px;
        font: Judson;
        font-weight: 700;
        cursor: pointer;
    }

    .fav:hover {  
        transform: scale(1.1);
        transition: 0.3s;
    }

    .logout {
        top:50%;
    }


    .container {
        display: flex;
        flex-wrap: wrap; /* Перенос блоков на новую строку */
        justify-content: space-between; /* Равномерное распределение по горизонтали */
        align-items: center;
        padding-top:20%;
    }
      
      .block {
        width: 300px;
        height: 200px;
        background: #FFFFFF;
        border: 3px solid #C4C4C4;
        border-radius: 15px;
        text-align: center;
        font-size: 25px;
        font: Judson;
        font-weight: 700;
        cursor: pointer;
        transition: 0.3s;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        color:rgb(0, 0, 0);
        text-decoration: none;
      }
      .block:hover {  
        transform: scale(1.1);
        transition: 0.3s;
    }

    .lesson{
        display: flex;
        padding-top:10%;
        padding-left:10%;
    }

    .lesson_content{
        width: 90%;
        height: 90%;
        background: #FFFFFF;
        border: 3px solid #C4C4C4;
        border-radius: 15px;
        text-align: center;
        font-size: 25px;
        font: Judson;
        font-weight: 700;
        cursor: pointer;
        word-wrap: break-word;
        color:rgb(0, 0, 0);
        text-decoration: none;
    }